body {
	background-image: url("lambda_fortres.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}

div {
	padding: 100px 10px 10px 10px;
	margin: 300px 300px 300px 680px;
	border: 5px solid blue;
	width: 500px;
	height: 300px;
	text-align: center;
	background-image: url("al.png");
	background-position:center right -900px;
}
h2 {
	font-family: "timesNewRoman";
	background-color: black;
	color: white;
	width: 50%;
	margin-left: 26%;
}
input {
	margin: 10px;
	border: 5px solid rgb(184, 134, 11);
}
button {
	position: relative;
	top: 50px;
	right: 125px;
	border: 0 solid;
	background-color: rgb(184, 134, 11);
}
button:hover {
  background-color: rgb(240, 185, 45);
}
input:focus{
outline: none;
}
#password{
	position: relative;
	right: -28px;
}
